In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("combined_edited_spreads_and_ratings_df.csv")

In [3]:
df.head()

,Unnamed: 0,Date,Month,Team1Site,Team2Site,Team1,Team1_Win_Precentage,Final1,Open1,Close1,...,Team2_TotalOff,Team2_TotalDef,Team1_Win,Total_Open,Total_Close,Spread_Open,Spread_Close,Team1_Point_Dif,Team1Cover,Over_Under
0,0,9/02/2010,9,H,V,SouthCarolina,0.642857,41,13.5,13.0,...,5.08,6.10,1,48.0,46.5,-13.5,-13.0,28,1,O
1,1,9/02/2010,9,H,V,OhioState,0.923077,45,28.5,28.0,...,4.48,5.77,1,47.0,46.5,-28.5,-28.0,38,1,O
2,2,9/02/2010,9,H,V,IowaState,0.416667,27,3.0,4.0,...,6.08,6.21,1,47.0,51.0,-3.0,-4.0,17,1,U
3,3,9/02/2010,9,H,V,Utah,0.769231,27,3.5,3.5,...,5.67,5.07,1,50.0,48.0,-3.5,-3.5,3,0,O
4,4,9/02/2010,9,H,V,Hawaii,0.714286,36,53.5,51.0,...,6.07,5.77,0,53.5,51.0,19.0,20.5,-13,1,O

In [4]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [5]:
df.describe()

,Month,Team1_Win_Precentage,Final1,Open1,Close1,ML1,Team1_AP_Rank,Team1_W,Team1_L,Team1_OSRS,...,Team2_RushingDef,Team2_TotalOff,Team2_TotalDef,Team1_Win,Total_Open,Total_Close,Spread_Open,Spread_Close,Team1_Point_Dif,Team1Cover
count,5679.000000,5679.000000,5679.000000,5679.000000,5679.000000,5679.000000,5679.000000,5679.000000,5679.000000,5679.000000,...,5679.000000,5679.000000,5679.000000,5679.000000,5679.000000,5679.000000,5679.000000,5679.000000,5679.000000,5679.000000
mean,10.011798,0.535529,30.232787,28.108822,28.579944,-1304.158831,54.525092,6.955274,5.817574,1.118575,...,3.907890,6.347544,4.970350,0.574925,55.927804,55.842402,-4.387304,-4.527910,4.242472,0.480895
std,1.422174,0.223195,14.308668,22.573434,22.599497,9232.466382,23.075294,3.125942,2.602631,6.590751,...,2.634963,3.179146,3.134614,0.494398,7.764451,8.038762,13.160050,13.500844,21.045411,0.499679
min,1.000000,0.000000,0.000000,0.500000,1.000000,-400000.000000,1.000000,0.000000,0.000000,-19.130000,...,-2.810000,-2.790000,-0.850000,0.000000,2.500000,34.000000,-56.000000,-54.000000,-78.000000,0.000000
25%,9.000000,0.333333,20.000000,8.000000,7.500000,-540.000000,67.000000,4.000000,4.000000,-3.090000,...,1.850000,4.940000,2.430000,0.000000,50.500000,50.000000,-13.000000,-13.500000,-8.000000,0.000000
50%,10.000000,0.538462,30.000000,18.500000,20.000000,-190.000000,67.000000,7.000000,6.000000,0.980000,...,3.900000,6.440000,4.810000,1.000000,55.500000,55.000000,-4.500000,-4.500000,3.000000,0.000000
75%,11.000000,0.692308,41.000000,51.500000,51.500000,170.000000,67.000000,9.000000,8.000000,5.710000,...,5.460000,8.890000,6.240000,1.000000,61.000000,61.000000,4.500000,4.500000,19.000000,1.000000
max,12.000000,1.000000,83.000000,87.000000,90.000000,26000.000000,67.000000,14.000000,12.000000,20.900000,...,11.390000,11.980000,14.230000,1.000000,91.500000,90.000000,43.500000,44.500000,74.000000,1.000000

In [6]:
df.shape

(5679, 54)

In [7]:
list(df)

['Date',
 'Month',
 'Team1Site',
 'Team2Site',
 'Team1',
 'Team1_Win_Precentage',
 'Final1',
 'Open1',
 'Close1',
 'ML1',
 'Team1_Conf',
 'Team1_AP_Rank',
 'Team1_W',
 'Team1_L',
 'Team1_OSRS',
 'Team1_DSRS',
 'Team1_SRS',
 'Team1_ScoringOff',
 'Team1_ScoringDef',
 'Team1_PassingOff',
 'Team1_PassingDef',
 'Team1_RushingOff',
 'Team1_RushingDef',
 'Team1_TotalOff',
 'Team1_TotalDef',
 'Team2',
 'Team2_Win_Precentage',
 'Final2',
 'Open2',
 'Close2',
 'ML2',
 'Team2_Conf',
 'Team2_AP_Rank',
 'Team2_W',
 'Team2_L',
 'Team2_OSRS',
 'Team2_DSRS',
 'Team2_SRS',
 'Team2_ScoringOff',
 'Team2_ScoringDef',
 'Team2_PassingOff',
 'Team2_PassingDef',
 'Team2_RushingOff',
 'Team2_RushingDef',
 'Team2_TotalOff',
 'Team2_TotalDef',
 'Team1_Win',
 'Total_Open',
 'Total_Close',
 'Spread_Open',
 'Spread_Close',
 'Team1_Point_Dif',
 'Team1Cover',
 'Over_Under']

In [8]:
df['Team1Cover'].value_counts()

0    2948
1    2731
Name: Team1Cover, dtype: int64

In [9]:
df['Team1Cover'].value_counts(normalize=True)

0    0.519105
1    0.480895
Name: Team1Cover, dtype: float64

In [10]:
df[df['Team1Cover'] == 1].median()

Month                    10.000000
Team1_Win_Precentage      0.615385
Final1                   37.000000
Open1                    18.500000
Close1                   20.000000
ML1                    -200.000000
Team1_AP_Rank            67.000000
Team1_W                   8.000000
Team1_L                   5.000000
Team1_OSRS                1.940000
Team1_DSRS                1.470000
Team1_SRS                 3.640000
Team1_ScoringOff         43.030000
Team1_ScoringDef         14.530000
Team1_PassingOff          8.510000
Team1_PassingDef          5.930000
Team1_RushingOff          4.870000
Team1_RushingDef          3.830000
Team1_TotalOff            6.620000
Team1_TotalDef            4.740000
Team2_Win_Precentage      0.500000
Final2                   18.000000
Open2                    50.000000
Close2                   49.500000
ML2                     170.000000
Team2_AP_Rank            67.000000
Team2_W                   6.000000
Team2_L                   6.000000
Team2_OSRS               -0.230000
Team2_DSRS               -0.900000
Team2_SRS                -0.030000
Team2_ScoringOff         40.320000
Team2_ScoringDef         16.370000
Team2_PassingOff          8.080000
Team2_PassingDef          6.120000
Team2_RushingOff          4.690000
Team2_RushingDef          4.050000
Team2_TotalOff            6.240000
Team2_TotalDef            4.930000
Team1_Win                 1.000000
Total_Open               55.500000
Total_Close              55.000000
Spread_Open              -5.000000
Spread_Close             -4.500000
Team1_Point_Dif          17.000000
Team1Cover                1.000000
dtype: float64

In [11]:
df[df['Team1Cover'] == 0].median()

Month                    10.000000
Team1_Win_Precentage      0.538462
Final1                   23.000000
Open1                    18.500000
Close1                   20.000000
ML1                    -190.000000
Team1_AP_Rank            67.000000
Team1_W                   7.000000
Team1_L                   6.000000
Team1_OSRS                0.340000
Team1_DSRS               -0.205000
Team1_SRS                 1.180000
Team1_ScoringOff         42.140000
Team1_ScoringDef         14.810000
Team1_PassingOff          8.310000
Team1_PassingDef          5.930000
Team1_RushingOff          4.860000
Team1_RushingDef          3.790000
Team1_TotalOff            6.465000
Team1_TotalDef            4.745000
Team2_Win_Precentage      0.571429
Final2                   31.000000
Open2                    49.500000
Close2                   49.000000
ML2                     165.000000
Team2_AP_Rank            67.000000
Team2_W                   7.000000
Team2_L                   6.000000
Team2_OSRS                0.930000
Team2_DSRS                0.545000
Team2_SRS                 2.120000
Team2_ScoringOff         42.995000
Team2_ScoringDef         14.515000
Team2_PassingOff          8.475000
Team2_PassingDef          5.930000
Team2_RushingOff          4.935000
Team2_RushingDef          3.770000
Team2_TotalOff            6.590000
Team2_TotalDef            4.720000
Team1_Win                 0.000000
Total_Open               55.500000
Total_Close              55.000000
Spread_Open              -4.500000
Spread_Close             -4.000000
Team1_Point_Dif          -7.000000
Team1Cover                0.000000
dtype: float64

In [12]:
pd.crosstab(df['Team1Cover'], df['Team1Site'])

Team1Site      H    N
Team1Cover
0           2792  156
1           2558  173

In [13]:
df['Favorite'] = np.where(pd.to_numeric(df['ML1']) < 0, 1, 0)

In [14]:
pd.crosstab(df['Team1Cover'], df['Favorite'])

Favorite       0     1
Team1Cover
0           1090  1858
1            982  1749

In [19]:
df.corr(df['Team1Cover'])

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\pandas\core\ops.py:1167: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

TypeError: invalid type comparison